.vs/
dotGLASS/.vs/
dotGLASS/dotGLASS.sln
dotGLASS/dotGLASS/.vs/
dotGLASS/dotGLASS/bin/
dotGLASS/dotGLASS/obj/
dotGLASS/dotGLASS/dotGLASS.vcxproj
dotGLASS/dotGLASS/dotGLASS.vcxproj.filters
dotGLASS/dotGLASS/dotGLASS.vcxproj.user

dotGLASS/dotGLASS/resource.h
dotGLASS/dotGLASS/stb_image.cpp
dotGLASS/dotGLASS/stb_image.h
